<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ title }}
    </title>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/webcam.js" defer></script>
</head>

<body class="m-0 h-screen overflow-hidden relative">
    <video
        id="webcam"
        autoplay
        playsinline
        muted
        class="absolute top-0 left-0 w-full h-full object-cover -z-10"
    ></video>

    <div class="text-white text-center font-bold text-2xl flex items-center justify-center h-full">
        You have 0% Swag
    </div>
</body>
</html>
